/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-Feb-2015, 4:53:54 PM
    Author     : Lenovo
*/

table {
  background-image: url("img/dandelions_01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#banner{
  width: 1200px;
  height: 500px;
  position: absolute;
  top: 0px;
  left: 0px;
}

h1 {
  position: relative;
  top: 24px;
  left: 7px;
}

h2 {
  position: relative;
  top: 24px;
  left: 201px;
}

nav {
  width: 1200px;
  height: 45px;
  position: absolute;
  top: 500px; // 2
  left: 0px;
}

#column1{
  width: 412px;
  min-height: 700px;
  position: absolute;
  top: 545px;
  left: 0px;
}

#column2{
  width: 466px;
  min-height: 700px;
  position: absolute;
  top: 545px;
  left: 412px;
}

#column3{
  width: 322px;
  min-height: 700px;
  position: absolute;
  top: 545px;
  left: 878px;
}

#rightcol {
  width: 400px;
  min-height: 1312px;
  position: absolute;
  top: 0px;
  left: 1200px;
}