/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-Feb-2015, 4:53:54 PM
    Author     : Lenovo
*/

table {
  background-image: url("img/dandelions_01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#banner{
  width: 1200px;
  height: 500px;
  // 3
  position: absolute;
  top: 0px;
  left: 0px;
  
  border: solid 1px blue;
  background-image: url("img/dandelions_top.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#banner h1 {
  position: relative; // 4
  top: 24px;
  left: 7px;
  border: solid 1px blue;
  font-family: serif, "Arial Rounded MT Bold";
  font-stretch:extra-expanded;
  font-variant-caps:small-caps;
  font-size: 50px;
  color: yellow;
}

#banner h2 {
  position: relative;
  top: 24px;
  left: 201px;
  border: solid 1px blue;
  font-family: serif, "Arial Rounded MT Bold";
  font-stretch:extra-expanded;
  font-variant-caps:small-caps;
  font-size: 30px;
  color: orange;
}

nav {
  width: 1200px;
  height: 45px;
  position: absolute;
  top: 500px; // 2
  left: 0px;
  border: solid 1px blue;
  background-image: url("img/dandelions_bottom.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: serif, "Arial Rounded MT Bold";
  font-stretch:extra-expanded;
  font-variant-caps:small-caps;
  font-size: 30px;
  color: orange;
}

#column1{
  width: 412px;
  min-height: 700px;
  position: absolute;
  top: 545px;
  left: 0px;
  border: solid 1px blue;
  margin: 5px;
  padding: 5px;
}

#column2{
  width: 466px;
  min-height: 700px;
  position: absolute;
  top: 545px;
  left: 412px;
  border: solid 1px blue;
  margin: 5px;
  padding: 5px;
}

#column2 img {
  float: right;
}

#column3{
  width: 322px;
  min-height: 700px;
  position: absolute;
  top: 545px;
  left: 878px;
  border: solid 1px blue;
  margin: 5px;
  padding: 5px;
}

#rightcol {
  width: 400px;
  min-height: 1312px;
  position: absolute;
  top: 0px;
  left: 1200px;
  border: solid 1px blue;
}

#bigflower, #seededflower, #closeup, #field{
  width: 400px;
  height: 328px;
  // 3
  position: relative;
  top: 0px;
  left: 0px;
  border: solid 1px blue;
}

#bigflower{
  background-image: url("img/bigflower.jpg");
  background-repeat: no-repeat;
  background-size:cover;
}

#seededflower{
  background-image: url("img/seeded.jpg");
  background-repeat: no-repeat;
  background-size:cover;
}

#closeup{
  background-image: url("img/closeup.jpg");
  background-repeat: no-repeat;
  background-size:cover;
}

#field{
  background-image: url("img/dandelions_00.jpg");
  background-repeat: no-repeat;
  background-size:cover;
}
#columns{
  position:absolute;
  top: 1300px;
  left: 0px;
  width: 100%;

}

#columns h1{
  color: blue;
  font-size: x-large;
  -moz-column-span: all;
  -webkit-column-span: all;
  column-span: all;
}